<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{> css}}
</head>
<body>
    {{{grid num}}}
    <script>
        var grids = document.querySelectorAll('td');
        for(var i =0; i < grids.length; i++)
        {
            grids[i].style.backgroundColor = ;
        }
    </script>
</body>
</html>